@use 'setting' as *;

//--------------- responsive -------------- //
$shrink_point: 1200;

$tab_min_width: 744;
$tab_max_width: 1180;
$desktop_width: 1440;

$breakpoints: (
  'sp_small': '(max-width: 375px)',
  'sp': '(max-width: ' +
    (
      $tab_min_width - 1,
    ) + 'px)',
  'pc_tab': '(min-width: ' + $tab_min_width + 'px)',
  'pc': '(min-width: ' +
    (
      $tab_max_width + 1,
    ) + 'px)',
  'sp_tab': '(max-width: ' + $tab_max_width + 'px)',
  'large': '(min-width: ' + $desktop_width + 'px)',
  'normal': '(max-width: ' +
    (
      $desktop_width - 1,
    ) + 'px)',
  'tab': '(min-width: ' + $tab_min_width + 'px) and (max-width: ' + $tab_max_width + 'px)',
  'portrait': '(orientation: portrait) and (min-width: ' + $tab_min_width + 'px)',
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//▼使い方
//@include g.mq(tab) {
//  color: hoge;
//}
//@include g.mq(normal) 1439以下
//@include g.mq(sp_tab) 1180以下
//@include g.mq(sp) 743以下
