@charset "utf-8";

//color set
$base_color: #a2a0d4;

$txt_color: #333;

$a_color: #333;

//font
$font_base: 'Noto Sans JP', '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3',
  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'メイリオ', Meiryo, Verdana, sans-serif;
